<div class="place__item" data-index="{{index}}">
    <div class="card">
        {{#if isPlaceholder}}
        <div class="card__overlay">
            <a class="place__add-btn btn-floating btn-large">
                <i class="material-icons">add</i>
            </a>
        </div>
        {{/if}} {{#if place.photo}}
        <div class="card-image">
            <img src="{{place.photo}}">
        </div>
        {{/if}}

        <div class="card-content">
            <div class="card-title">{{place.name}}</div>

            {{#if isPlaceholder}}
            <div class="card-separator"></div>
            {{/if}}

            <div class="card-info">{{place.description}}</div>
        </div>

        {{#unless isPlaceholder}}
        <div class="card-action clearfix">
            <p class="left">Author: {{place.user}}</p>
            <div class="right">
                <ul>
                    <li class="left">
                        <a class="place__review-btn btn-floating btn-large blue">
                            <i class="material-icons">rate_review</i>
                        </a>
                    </li>
                    <li class="left">
                        <a class="place__delete-btn btn-floating btn-large red">
                            <i class="material-icons">delete_forever</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {{/unless}}

        <div class="place__review-form">
            <blockquote>
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="review" class="materialize-textarea">Leave a review of this place...</textarea>
                <label for="review">Review</label>
            </blockquote>

            <button class="btn waves-effect waves-light" type="submit" name="action">
                Submit<i class="material-icons right">send</i>
            </button>
        </div>
    </div>
</div>